* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('https://i.pinimg.com/564x/27/70/23/2770238737dcac821c020dbe9d87b43b.jpg');
    background-size: auto 100vh;
    font-family: arial;
  }

  @media (min-width: 400px) { 
    body {
      font-size: 14px;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
  }


  
   .menu ul {
      display: flex;
      justify-content: space-evenly;
    }
    
    .menu li {
      font-style: italic;
      list-style: none;
    }
    
    .menu {
      background-color: #ADD8E6;
      position: fixed;
      width: 100vw;
      top: 0;
    }

    .menu a { 
      display: block;
      padding: 10px 20px; 
    }

  a {
      Color: navy;
      text-decoration: none;
    }
    
    a:hover {
      Color: #BA55D3;
      text-decoration: underline; 
    }
   
    .subtitulo,
    .titulo {
      Color: whitesmoke;
      Text-align: Center;
    }
    
    .subtitulo {
      font-style: italic;
    }

    .titulo {
      font-size: 4em;
    }

    .img-portfolio {
      height: 400px;
      width: 500px;
    }
